[submodule "gopro-dashboard-overlay"]
	path = Tools/gopro-dashboard-overlay
	url = https://github.com/time4tea/gopro-dashboard-overlay
[submodule "Tools/gopro-dashboard-overlay"]
	path = Tools/gopro-dashboard-overlay
	url = https://github.com/time4tea/gopro-dashboard-overlay
